* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
    border-bottom: 1.6rem solid #0086a9;
}

.flashcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.flashcards div {
    border: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    border-radius: 7px;
    aspect-ratio: 1/2;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.flashcards-container {
    max-width: 900px; /* Example maximum width */
    margin: 0 auto; /* Centers the div horizontally */
    display: block;
}

.notice {
    background-color: #b5f7f7;
    border-radius: 7px;
    max-width: 900px;
    padding: 10px;
    margin-bottom: 40px;
}

/* Your existing .flashcards and .flashcards div styles remain unchanged */

div.selected {
    border: 10px solid #014b7949;
    background-image: url("../public/weiyanglogo.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

div.bigPrize {
    border: 20px solid #ffd700;
    background-image: url("../public/big.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

div.openBigPrize {
    background-image: url("../public/big.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

div.normalPrize {
    border: 20px solid #0e904d;
    background-image: url("../public/small.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

div.openNormalPrize {
    background-image: url("../public/small.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

div.notSelected {
    background-image: url("../public/weiyanglogo.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.centered_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btn {
    color: #ffffff;
    font-family: inherit;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #0086a9;
    padding: 1rem 3.2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #66cccc;
}

.footer {
    position: relative;
}
